<p>users-list works!</p>

@if(users$ | async; as users) {
    users-   {{users.length}}

    <table class="user-table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>User Name</td>
                <td>Email</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @for(user of users; track user.id) {
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button type="button" (click)="onEdit(user)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


