<p>users-list works!</p>

@if(users$ | async; as users) {
    users-   {{users.length}}

    @if(id$ | async;  as id) {
        id - {{id}}
    }

    <form [formGroup]="userForm">
        <table class="user-table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>User Name</td>
                    <td>Email</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for(user of users; track user.id) {
                    @if (user.id !== selectedUserId()) {
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <button type="button" (click)="onEdit(user)">Edit</button>
                            </td>
                        </tr>
                    } @else {
                        <tr>
                            
                                <td>{{ user.id }}</td>
                                <td><input type="text" [value]="user.name" formControlName="name"/></td>
                                <td><input type="text" [value]="user.username" formControlName="username"/></td>
                                <td><input type="text" [value]="user.email" formControlName="email" /></td>
                                <td><button type="button" (click)="onSave()">Save</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
}


